.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.convert-button,
.download-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out; /* Add smooth hover effect */
}

.convert-button:hover,
.download-button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.dropzone.has-files {
    border-color: #4CAF50; /* Green */
}

.dropzone p {
    margin: 0;
}